body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

.calculator {
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display {
    background-color: white;
    padding: 20px;
    text-align: right;
}

.display input {
    width: 100%;
    font-size: 24px;
    border: none;
    outline: none;
    background: none;
    text-align: right;
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

button {
    font-size: 18px;
    padding: 15px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: khaki;
}

button:active {
    background-color: yellow;
}

.equals {
    background-color: blue;
    color: #fff;
    grid-column: span 1;
}

.equals:hover {
    background-color: slateblue;
}